
/* ------------------------------------------------
			My CSS
---------------------------------------------------*/
body {
	font-family: Arial, Helvetica, sans-serif;
}

.header-label {
	color: darkgrey;
	padding: 5px;
	font-size: 12pt;
}

.label {
	color: darkgrey;
	padding-left: 10px;
	font-size: 10pt;
}

/* ------------------------------------------------
			Menu CSS
---------------------------------------------------*/


.unimplemented {
	color: grey !important;
}
  
.navbar {
	overflow: hidden;
	background-color: #333;
  }
  
.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.page-header-name {
	font-size: 20px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
  
.dropdown {
	float: left;
	overflow: hidden;
}
  
.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

/* ------------------------------------------------
			Sidebar CSS
---------------------------------------------------*/
	
.column {
  float: left;
}

.left {
  width: 25%;
	height: 100%;
	background: #000
}

.middle {
  width:25%;
  height: 100%;
	background: #111
}

.right {
  width: 50%;
  height: 100%;
}

.sidenav {
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.column a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 16px;
	display: block;
	color:white;
}

.column a:hover {
	background-color: #ddd;
}

.column p {
	padding:10px;
	margin:10px; 
	color:black;
	background-color: lightgray
}

.column p:hover {
	background-color: #333
}

/* ------------------------------------------------
			Accordion CSS
---------------------------------------------------*/
	
	.accordion {
		background-color: #333;
		color: white;
		cursor: pointer;
		padding: 8px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 16px;
	}
	
	.active, .accordion:hover {
		background-color: #ccc; 
		color: #000;
	}
	
	.panel {
		padding: 0 5px;
		display: none;
		background-color: lightgrey;
		overflow: hidden;
	}

	.panel a {
		background-color: lightgrey;
		overflow: hidden;
		color: black;
	}

	.panel input {
		margin-left: 18px;
	}

	.panel .label {
		color: #333;
	}


/* ------------------------------------------------
			other CSS
---------------------------------------------------*/



#file-to-upload {
	display: none;
}

#pdf-main-container {
	width: 400px;
	margin: 20px auto;
}

#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

#pdf-contents {
	display: none;
}

#pdf-meta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdf-buttons {
	float: left;
}

#page-count-container {
	float: right;
}

#pdf-current-page {
	display: inline;
}

#pdf-total-pages {
	display: inline;
}

#pdf-canvas {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}

#page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}

#text-layer { 
   position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	opacity: 0.2;
	line-height: 1.0;
}

#text-layer > div {
	color: transparent;
	position: absolute;
	white-space: pre;
	cursor: text;
	transform-origin: 0% 0%;
}
